@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --font-sans: "Manrope", sans-serif;
  --font-super: "Fjalla One", sans-serif;
	--color-*:initial;
  --color-mahogany-50: oklch(0.95 0.03 40);
  --color-mahogany-100: oklch(0.93 0.04 40);
  --color-mahogany-200: oklch(0.88 0.07 40);
  --color-mahogany-300: oklch(0.83 0.1 40);
  --color-mahogany-400: oklch(0.78 0.13 40);
  --color-mahogany-500: oklch(0.68 0.19 40);
  --color-mahogany-600: oklch(0.61 0.22 40);
  --color-mahogany-700: oklch(0.53 0.19 40);
  --color-mahogany-800: oklch(0.44 0.16 40);
  --color-mahogany-900: oklch(0.34 0.12 40);
  --color-mahogany-950: oklch(0.26 0.09 40);
  --color-pink-50: oklch(0.95 0.03 6);
  --color-pink-100: oklch(0.93 0.04 6);
  --color-pink-200: oklch(0.88 0.07 6);
  --color-pink-300: oklch(0.83 0.1 6);
  --color-pink-400: oklch(0.78 0.13 6);
  --color-pink-500: oklch(0.69 0.19 6);
  --color-pink-600: oklch(0.62 0.22 6);
  --color-pink-700: oklch(0.54 0.19 6);
  --color-pink-800: oklch(0.45 0.16 6);
  --color-pink-900: oklch(0.34 0.12 6);
  --color-pink-950: oklch(0.26 0.09 6);
  --color-red-50: oklch(0.95 0.03 19);
  --color-red-100: oklch(0.93 0.04 19);
  --color-red-200: oklch(0.88 0.07 19);
  --color-red-300: oklch(0.83 0.1 19);
  --color-red-400: oklch(0.78 0.13 19);
  --color-red-500: oklch(0.68 0.19 19);
  --color-red-600: oklch(0.62 0.22 19);
  --color-red-700: oklch(0.54 0.19 19);
  --color-red-800: oklch(0.45 0.16 19);
  --color-red-900: oklch(0.34 0.12 19);
  --color-red-950: oklch(0.26 0.09 19);
  --color-blue-50: oklch(0.94 0.03 256);
  --color-blue-100: oklch(0.92 0.04 256);
  --color-blue-200: oklch(0.87 0.07 256);
  --color-blue-300: oklch(0.82 0.1 256);
  --color-blue-400: oklch(0.76 0.13 256);
  --color-blue-500: oklch(0.67 0.19 256);
  --color-blue-600: oklch(0.6 0.22 256);
  --color-blue-700: oklch(0.52 0.19 256);
  --color-blue-800: oklch(0.44 0.16 256);
  --color-blue-900: oklch(0.33 0.12 256);
  --color-blue-950: oklch(0.26 0.09 256);
  --color-light: oklch(0.9629 0.0025 228.78);
  --color-dark: oklch(0.194 0.0393 255.59)
}